@font-face {
  font-family: Light-Font;
  src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
  font-family: Bold-Font;
  src: url('../fonts/ProximaNova-Bold.otf');
}

@font-face {
  font-family: Semibold-Font;
  src: url('../fonts/ProximaNova-Semibold.otf');
}

html {
  margin: 0;
  background: url('../images/bg.jpg') no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  margin: 10px 10px;
}

.banner {
  height: 80px;
  position: relative;
}

#applogo {
  display: block;
  max-width: 100%;
  height: 80px;
  float: left;
}

#navbar {
  font-family: Light-Font;
  position: absolute;
  float: right;
  right: 0;
  bottom: 13%;
}

#navbar a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-family: Light-Font;
  padding: 8px 25px;
}

#navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#navbar a:nth-child(4) {
  margin-right: 20px;
}

#navbar a:nth-child(5) {
  border: 1px solid #BF9B41;
  margin-right: 20px;
}

#navbar a:last-child {
  border: 2px solid #BF9B41;
  background: #BF9B41;
  margin-right: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  right: 0px;
  left: 0px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0px 5px 5px 5px;
}

.footer div {
  color: #FFFFFF;
  font-family: Light-Font;
  font-size: 13px;
  text-align: center;
}

.main {
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    right: 0px;
    left: 0px;
    height: 80vh;
    margin: 30px 30px;
}

.container {
    width: 30%;
    clear: both;
		color: #FFFFFF;
    /*margin-right: 10px;
		margin-bottom:20px;*/
		float:right;
		padding: 20px 20px;
    height: 70vh;
    margin-top: 43px;
    background-color: rgba(0, 0, 0, 0.45);
}

fieldset {
  border: none;
  background: none;
  outline: none;
  text-align: left;
}

h3 {
  font-family: Bold-Font;
  font-size: 37px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-top: 20px;
}

p {
  font-family: Light-Font;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 0px;
  line-height: 1.2;
}

fieldset > p {
  font-family: Light-Font;
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.control-group input {
  width: 100%;
  padding: 8px 8px;
  border: none;
  background: none;
  outline: none;
  font-family: Light-Font;
  font-size: 16px;
  color: #FFFFFF;
  border: 1px solid #ffffff;
}

.login {
  border: none;
  background: none;
  outline: none;
  text-align: center;
  font-family: Light-Font;
  color: #ffffff;
  font-size: 18px;
  background: #BF9B41;
  border: 1px solid #BF9B41;
  padding: 5px 23px;
  border-radius: 1px;
  margin: 0 auto;
}

#btndiv {
  text-align: center;
}

.lbl {
  font-family: Light-Font;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
}

#lastdiv {
  text-align: center;
}

#lastdiv > button {
  border: none;
  background: none;
  outline: none;
  border: 1px solid #BF9B41;
  border-radius: 1px;
  font-family: Light-Font;
  font-size: 16px;
  color: #ffffff;
  padding: 7px 23px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#wrapper {
  font-family: Light-Font;
  font-size: 16px;
  color: #ffffff;
  text-decoration-style: wavy;
  text-align: center;
  padding-bottom: 20px;
}
